{{include 'shared/navbar'}}
<div class="container">
    <form>
        <div class="form-group">
            <textarea name="content" class="form-control" rows="10" placeholder="请详细描述你的问题" required></textarea>
        </div>
        <button type="submit" class="btn btn-success form-control">提交问题</button>
    </form>
</div>
{{include 'shared/modal'}}
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/scripts/ask.js"></script>
{{include 'shared/footer'}}